@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@font-face {
  font-family: 'Lobster-Two-Regular';
  src: local('Lobster-Two-Regular'), url(./fonts/Lobster/LobsterTwo-Regular.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: Lobster;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
